

<div class="text-center bg-padd">
    <img src="./thank_you.jpeg" alt=""  width="400" height="400" />
    <h3>Thank you for your enquiry . Our team will reach out to you,soon.</h3>

  <h5 class="mt-5">Follow Us on:</h5>  
    <!-- <a href="https://www.facebook.com/"><img src="./facebook.png" alt="" width="50" height="50" /></a>
    <a href="https://www.instagram.com/"><img src="./instagram.png" alt="" width="50" height="50" /></a>     -->
    <div class="d-flex justify-content-center gap-3 mt-3 mb-5">
        <i class="fa-brands fa-instagram fs-1 text-danger"></i>
        <i class="fa-brands fa-facebook fs-1 text-primary"></i>
        <i class="fa-brands fa-x-twitter fs-1 text-dark"></i>
      </div>

    <p-button label="Back to Home" icon="pi pi-home" class="mt-5" (click)="goToHome()"></p-button>

</div>
