
@if(havingData()){
    <div class="container">
        <h2 class="f-3rem text-center">FREQUENTLY ASKED QUESTIONS</h2>
        <p-accordion [value]="0">
            <!-- @for (group of faqData; track group.id) { -->
            @for (tab of faqData.faq; track tab.question) {
                <p-accordion-panel [value]="tab.value">
                    <p-accordion-header>{{ tab.question }}</p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0">{{ tab.answer }}</p>
                    </p-accordion-content>
                </p-accordion-panel>
            }
        <!-- } -->
    
        </p-accordion>
    </div>
}
