<div class="bg-green-light text-center bg-padd">
    <div class="container">
        <h1>Our Stats show that we've Happy Patients</h1>
        <p>And Excellence partially estimating terminated day everything.</p>
    
        <div class="d-flex justify-content-between mt-5">
            <div>
                <h1>25,356</h1>
                <p>Patients Served</p>
            </div>
            <div>
                <h1>6,050</h1>
                <p>Cunsultations this week</p>
            </div>
            <div>
                <h1>1</h1>
                <p>Locations</p>
            </div>
            <div>
                <h1>95%</h1>
                <p>Success Rate</p>
            </div>
        </div> 
    </div>

</div>
