<div class="bg-green-light text-center bg-padd" #animateSection >
    <div class="container">
        <h1>Our Stats Show That We've Happy Patients</h1>
        <p>And Excellence Partially Estimating Terminated day everything.</p>
    
        <div class="d-flex justify-content-between mt-5">
            <div #animateItem >
                <h1>2500+</h1>
                <p>Patients Served</p>
            </div>
            <div #animateItem >
                <h1>600+</h1>
                <p>Cunsultations This Week</p>
            </div>
            <div #animateItem >
                <h1>1</h1>
                <p>Locations</p>
            </div>
            <div #animateItem >
                <h1>95%</h1>
                <p>Success Rate</p>
            </div>
        </div> 
    </div>

</div>
