<div class="row bg-white">
    <div class="col-6">
        <h2>Why Choose Smile For All Your Dental Treatments?</h2>
        <p> we use only the best qulaity materials on the market in order to provide hte best products to our patients.</p>
        <ul>
            <li>Top Quality dental team</li>
            <li>State of the art dental services</li>
            <li>Discount on all dental treatment</li>
            <li>Enrollment is quick and easy</li>
        </ul>
  <p-button label="Call us today" />

    </div>
    <div class="col-6">
        <p-image src="./doctor.jpeg" alt="Image"  />

    </div>
</div>
