<div class="row bg-white bg-padd " #animateItems>
    <div class="col-6 d-flex justify-content-center align-items-center position-relative" #animateItems>

        <p-image src="./lady_doc.jpeg" alt="Image"  width="500" #animateItems />
        <div #animateItems class="position-absolute   p-3  design  bg-white  rounded-2xl d-flex justify-content-center flex-column align-items-center">
            <i class="fa-solid fa-heart-pulse text-danger fs-1"></i>
               <h4 class="fw-bold">  1000+</h4>
               <p>Happy Patients</p>
        </div>
        <div #animateItems class="position-absolute   p-3  design1  bg-white  rounded-2xl ">
            <h5 class="text-center">Rating</h5>
            <div>
                <i class="fa-solid fa-star text-warning fs-4"></i><i class="fa-solid fa-star text-warning fs-4"></i><i class="fa-solid fa-star text-warning fs-4"></i><i class="fa-solid fa-star text-warning fs-4"></i><i class="fa-solid fa-star text-warning fs-4"></i>
            </div>
        </div>
        <!-- <img src="./note.svg" alt="" class="position-absolute shadow_icon note3d "  #note3d width="50"/>
        <img src="./medbox.svg" alt="" class="position-absolute shadow_icon tablet3d" #tablet3d width="50"/> -->
        <!-- <img src="./tablet.svg" alt="" class="position-absolute shadow_icon box3d" width="50"/> -->

        <!-- <span class="position-absolute blur-bg in-img tOp">a</span> -->

    </div>
  
    <div class="col-6 position-relative h-[30rem]" #animateSection
    enterClass="animate-zoomin"
    leaveClass="animate-fadeout">
          <span class="position-absolute blur-bg in-img top-50 end-50">a</span>
          <span class="fw-bold text-success" #animateItems>About us</span>
        <h2 class="header_text mb-4 fs-1 fw-bold" #animateItems>Why Choose Smile For All Your Dental Treatments?</h2>
        <p class="ps-3 info-w" #animateItems> With Our Top Doctors We Are Ablte To Provide Best Medical Services Above Average We Have Highly Experienced Doctors So Don't Worry They Are Also Very Talented In Their Fields</p>
        <!-- <ul class="mb-4 ms-2 info-w ">
            <li>Top Quality dental team</li>
            <li>State of the art dental services</li>
            <li>Discount on all dental treatment</li>
            <li>Enrollment is quick and easy</li>
        </ul> -->
        <div class="mb-3 ps-3" #animateItems>
            <span #animateItems><i class="fa-solid fa-tooth text-success fs-4 mb-3" ></i> PREVENTIVE DENTAL CARE</span> <br>
            <span #animateItems><i class="fa-solid fa-tooth text-success fs-4 mb-3"></i>  MODERN EQUIPMENT</span> <br>
            <span #animateItems><i class="fa-solid fa-tooth text-success fs-4 mb-3"></i>  GENTLE & FRIENDLY APPROACH</span> <br>
            <span #animateItems><i class="fa-solid fa-tooth text-success fs-4"></i>   PREVENTIVE DENTAL CARE</span> <br>
          
           
          
        </div>
      
        <div>
            <p-button label="Learn More" class="ms-3 mt-5" />
        </div>
 

    </div>
   
   
</div>
