.note3d{
 
    top:20px;  
    left:30%; 
 
}
.tablet3d{
 
    bottom:10px;  
    right: 20%; 
 
}

.box3d{
    right:25%;
    top:20px;
}

.shadow_icon{
    filter: drop-shadow(0 0 1.75rem rgb(127, 127, 127));
}
.blur-bg{
    background-color: rgb(0, 255, 26);
    position:absolute;
}
.in-img{

    width:30%;
    filter: blur(80px);
  
 }
 .tOp{
    top:400px;
    left:0px;

 }
