$font-size-medium: 5rem;


.top{
    background-image: url("../../../../public/Untitled\ design\ \(2\).png");
    height:300px;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.bf{

    width:400px;
    height:400px
}

.doc_1{
    top:-100px;
    left:400px;
}
.doc_2{
    top:100px;
    right:200px;
}


.bg-shadow{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.number_design{
   font-size : $font-size-medium !important;
}
// .typing-text {
//     font-size: 2rem;
//     font-weight: bold;
//     color: #333;
//     font-family: 'Courier New', monospace;
//     white-space: nowrap;
//     border-right: 2px solid black; /* Cursor effect */
//     display: inline-block;
//   }
  

.width-600{
    width:100% !important;
}

.backg-green{
    // background-color: #eaffe1;
    border-radius:15px;
}

.fs-100{
    font-size:40px;
}

.before_card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: auto;
}

.case_img{
    width:300px;
    height:400px;
    object-fit: cover;
    
}

.case_text{
    font-size:4rem;
    margin-bottom:26px;
    font-weight: bolder;
}
.product-description {
    font-weight: bold;
    font-size: 1.2rem; /* Makes the text a little larger */
    color: #2c3e50; /* Dark color for contrast */
    text-transform: uppercase; /* Makes the text uppercase for emphasis */
    letter-spacing: 1px; /* Adds a bit of space between letters */
    background-color: #f7f7f7; /* Light background to make it stand out */
    padding: 10px; /* Adds some padding around the text */
    border-radius: 5px; /* Rounded corners for the background */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}
.text-description {
    color: #4A4A4A; /* Soft gray text color */
    font-size: 1.125rem; /* Slightly larger font size for readability */
    margin-top: 1rem; /* Space above the paragraph */
    margin-bottom: 1rem; /* Space below the paragraph */
    line-height: 1.6; /* Makes the text more readable with better line spacing */
    letter-spacing: 0.5px; /* Adds slight spacing between letters for clarity */
    font-family: Arial, sans-serif; /* Modern and clean font family */
}
