.top{
    background-image: url("../../../../public/Untitled\ design\ \(2\).png");
    height:400px;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}