.top{
    background-image: url("../../../../public/Untitled\ design\ \(2\).png");
    height:400px;   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.bf{

    width:400px;
    height:400px
}

.bg-shadow{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}