
<div class="back">
    <app-header></app-header>
</div>
 
        

   
    <!-- <div class="row bg-white">
        <div class="col-6">
            <p-image src="./doctor.jpeg" alt="Image"  />
    
        </div>
        <div class="col-6">
            <h2>Why Choose Smile For All Your Dental Treatments?</h2>
            <p> we use only the best qulaity materials on the market in order to provide hte best products to our patients.</p>
            <ul>
                <li>Top Quality dental team</li>
                <li>State of the art dental services</li>
                <li>Discount on all dental treatment</li>
                <li>Enrollment is quick and easy</li>
            </ul>
      <p-button label="Call us today" />
    
        </div>
    
    </div> -->
    <div class="row bg-white  justify-content-center container-fluid bg-padd">

        <div class="col-7 position-relative d-flex justify-content-center ">
            <img src="./about_us_doc.png" alt="" width="300" class="position-absolute doc_1" >
            <img src="./about_us_doc_2.png" alt="" width="350"class="position-absolute doc_2" >
            <div class="position-absolute   p-3  design  bg-white  rounded-2xl d-flex justify-content-center flex-column align-items-center">
                <i class="fa-solid fa-heart-pulse text-danger fs-1"></i>
                   <h4 class="fw-bold">  1000+</h4>
                   <p>Happy Customers</p>
            </div>
            <div class="position-absolute   p-3  design1  bg-white  rounded-2xl ">
                <h5 class="text-center">Rating</h5>
                <div>
                    <i class="fa-solid fa-star text-warning fs-4"></i><i class="fa-solid fa-star text-warning fs-4"></i><i class="fa-solid fa-star text-warning fs-4"></i><i class="fa-solid fa-star text-warning fs-4"></i><i class="fa-solid fa-star text-warning fs-4"></i>
                </div>
                
            </div>
        </div>

        <div class="col-5 backg-green pt-4 ps-3 text-description">
            <h6 class="fw-bold text-success ">About Our Doctor</h6>
            <h1 class="fw-bold text-uppercase">Crafting Confident Smiles with Care</h1>
            <p class="text-gray-700 mb-4 fs-5 mt-3">
                Dr K Santhosh Kumare Is A Highly Skilled And Passionate Dental Professional Dedicated To Delivering Exceptional Care Through A Blend Of Advanced Clinical Expertise And A Patient-Centric Approach. With Years Of Experience In Modern Dentistry Dr Santhosh Kumare Is Known For Integrating Cutting-Edge Techniques With Gentle Personalized Treatment Plans Ensuring Both Comfort And Outstanding Results For Every Patient.

                Throughout His Career He Has Successfully Transformed Hundreds Of Smiles Earning A Reputation For Precision Empathy And Excellence. His Commitment To Continuing Education And Adoption Of The Latest Dental Technologies Allows Him To Provide Treatments That Are Not Only Effective But Also Minimally Invasive And Aesthetically Pleasing.
                
                Dr Santhosh Believes That A Healthy Confident Smile Can Change Lives And He Strives Every Day To Make That A Reality For His Patients. Whether It’s Routine Dental Care Orthodontic Solutions Like Braces Or Complex Smile Makeovers He Is Dedicated To Raising The Standard Of Dental Care And Creating A Positive Stress-Free Experience For Everyone Who Walks Through The Doors Of Zen Smile Dental Studio.
              </p>
              <span><i class="fa-solid fa-tooth text-success fs-4 mb-2"></i> PERSONALIZED TREATMENTS</span> <br>
              <span><i class="fa-solid fa-tooth text-success fs-4 mb-2"></i> MODERN EQUIPMENT</span> <br>
              <span><i class="fa-solid fa-tooth text-success fs-4 mb-2"></i>  GENTLE & FRIENDLY APPROACH</span> <br>
              <span><i class="fa-solid fa-tooth text-success fs-4"></i>  PREVENTIVE DENTAL CARE</span> 


                <div class="mt-5 d-flex justify-content-start  row">
                    <div class="col-4">
                       <div class="mb-0 fw-bold fs-100 fs-1 ">
                        <h1 class="mb-0 fw-bold fs-100 d-inline-block " #counter>{{displayValue1}}</h1> +
                       </div>
                        <p >PATIENTS</p>
                    </div>

                    <div class="col-4">
                        <div class="mb-0 fw-bold fs-100 fs-1 ">
                            <h1 class="mb-0 fw-bold fs-100 d-inline-block " #experience>{{displayValue2}}</h1> +
                           </div>
                        <p >CONSULATIONS</p>
                    </div>
                    <div class="col-4">
                        <div class="mb-0 fw-bold fs-100 fs-1 ">
                            <h1 class="mb-0 fw-bold fs-100 d-inline-block " #patient>{{displayValue3}}</h1> %
                           </div>
                        <p >SUCCESS RATE</p>
                    </div>
                   
                </div>
              <!-- <ul class="grid grid-cols-2 gap-2 text-gray-800 mb-6">
                <li>✔ </li>
                <li>✔ Modern Equipment</li>
                <li>✔ Gentle & Friendly Approach</li>
                <li>✔ Preventive Dental Care</li>
              </ul> -->
        </div>

















        <!-- <h1 #text></h1> <span #texts class="typing-text">_</span> -->

        <!-- <div class="col-4 mb-5">
            <div class="row">
                <div class="col-12 text-end">
                    <h1 class="fw-bold number_design">01</h1>
                    <h5>Welcome to [Your Clinic Name]</h5>
                    <p>At [Your Clinic Name], we are committed to providing exceptional dental care in a comfortable environment. Our goal is to help you achieve a healthier, more confident smile.</p>
                </div>
                <div class="col-12 text-end">
                    <h1 class="fw-bold number_design">02</h1>
                    <h5>Our Expertise & Experience</h5>
                    <p>Led by Dr. [Your Name], we offer a wide range of dental treatments, from routine checkups to advanced procedures. With [X] years of experience, we ensure high-quality and painless care.</p>
                </div>
                <div class="col-12 text-end">
                    <h1 class="fw-bold number_design">03</h1>
                    <h5>Our Mission & Values</h5>
                    <p>We believe in honest, patient-focused, and high-quality dental care. Our mission is to provide stress-free, advanced treatments with a focus on trust and transparency.</p>
                </div>
            </div>
        </div>
        <div class="col-3 text-center">
            <p-image src="./doctor_1.png" alt="Image"   width="350" />
            
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12 text-start">
                    <h1 class="fw-bold number_design">04</h1>
                    <h5> Before & After Transformations</h5>
                    <p>See the difference a great smile can make! Our before-and-after gallery showcases real patient transformations through expert dental care.</p>
                </div>
                <div class="col-12 text-start">
                    <h1 class="fw-bold number_design">05</h1>
                    <h5>Why Choose Us?</h5>
                    <p>We offer advanced technology, pain-free treatments, and a welcoming environment. Our expert team ensures top-notch care with flexible and affordable options.</p>
                </div>
                <div class="col-12 text-start">
                    <h1 class="fw-bold number_design">06</h1>
                    <h5>Book Your Appointment Today!</h5>
                    <p>A beautiful smile starts here! Contact us today to schedule your visit and take the first step toward better oral health.</p>
                </div>
            </div>
        </div> -->

        <!-- <div class="col-6">
            <h2>Why Choose Smile For All Your Dental Treatments?</h2>
            <p> we use only the best qulaity materials on the market in order to provide hte best products to our patients.</p>
            <ul>
                <li>Top Quality dental team</li>
                <li>State of the art dental services</li>
                <li>Discount on all dental treatment</li>
                <li>Enrollment is quick and easy</li>
            </ul>
      <p-button label="Call us today" />
    
        </div> -->
        <!-- <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
            <ng-template let-product #item>
           <div>
            <img [src]="product.url" alt="" class="bf">
            </div>
            </ng-template>
        </p-carousel> -->
        <div class="bg-padd"></div>
        <h1 class=" fw-bold text-center  mt-5 fs-100 case_text">FEEL THE RELIEF LOVE THE RESULT </h1>
        <div class="row justify-content-center d-flex"> 

           
            <div class="col-6">
                <p-carousel [value]="products" [numVisible]="1" [numScroll]="1"  >
                    <ng-template let-product #item>
                        <div class="d-flex justify-content-center gap-5">
                            <div class="p-2 before_card">
                                <img [src]="product.url" class="case_img" />
                                
                                    <h1 class="fw-bold text-center mt-2">BEFORE</h1>
                                
                            </div>
                            <div class="p-2 before_card">
                                <img [src]="product.url2" class="case_img" />
                                
                                    <h1 class="fw-bold text-center mt-2">AFTER</h1>
                                
                            </div>
        
                        </div>
        
                        <p class= "mt-5  text-center w-50 mx-auto product-description">{{product.description}}
                        </p>
                    </ng-template>
                </p-carousel>
            </div>



        </div>
      
        <div class="col-6">
            <div class="width-600" >
    
                <!-- <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="false" [responsiveOptions]="responsiveOptions">
                    <ng-template let-product #item>
                        <p-imagecompare class="shadow-lg rounded-2xl h-50">
                            <ng-template #left>
                                <img [src]="product.url" width="100px" />
                            </ng-template>
                            <ng-template #right>    
                                <img [src]="product.url2" width="100px" />
                            </ng-template>
                         
                        </p-imagecompare>
                    
                    </ng-template>
                
                </p-carousel> -->
             
                       </div>
        </div>
      
    </div>

    <!-- <app-homepage-service></app-homepage-service> -->
    <app-homepage-service></app-homepage-service>
    <app-appointment></app-appointment>
    <app-footer></app-footer>
   
    
