/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'MyFont';
    src: url('./assests/Lexend/Lexend-VariableFont_wght.ttf');
  }


  @font-face {
    font-family: 'descrip';
    src: url('./assests/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf');
  }

  $secondary-color:#00af9f;
  body{
    // background: #D9EEEC;
    position:relative !important;
    font-family: 'descrip';
    overflow-x: hidden;
}

.log{
  font-family: 'MyFont';
  font-size: 5.5rem !important;
  line-height: 80px !important;
  color:black;
  font-weight: bold; 
  letter-spacing: -5px; 
}

.sec-title{
  font-family: 'descrip';
  font-size: 2rem;
  line-height: 74px;
  color:black;
  // font-weight: bold; 
  letter-spacing: -1px; 
}


.f-3rem{
  font-size:4rem !important;
}

.bg-padd{
  padding-top:150px;
  padding-bottom:200px;
}
.round-graphic {
  position: absolute;
  left: -160px;
  top: 125px;
}
.p-accordionheader{
  background: #e0ffe0 !important;
}

.dark_bg{
 background-color: secondary-color;
}

p-button button{
  border-radius:25px !important;
}

.p-menubar {
  background:none !important;
  border:none !important;
}

.info-w{
  max-width:70%;
  font-size:20px;
}

.log{
  font-family: 'MyFont';
  font-size: 4.5rem;
  line-height: 74px;
  // position:relative;
  color:black;
  // font-weight: bold; 
  letter-spacing: -5px; 
}

.border{
  border:none !important;
}

.blur-bg{
  background-color: rgb(0, 255, 26);
  position:absolute;
}



.cl-green{
  color:green
}

.input-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important; 
} 


.lineHt-30{
  font-family: 'Roboto', sans-serif !important; 
line-height: 30px;
font-size:18px;
font-weight:600;
}

.borrad-50 img{
  border-radius:50% !important;
}

.p-imagecompare {
  position:static !important;
  width:300px !important;
  height:300px !important;
  display:block;
}

.p-imagecompare img{
  object-fit:cover
}

.p-menubar-item-content:hover{
  background:#00af9f !important;
  border-radius:18px !important;
  color:white !important;
}

.p-menubar-submenu{
  background-color: white !important;
  border:none !important;
}
.bg-green-light{
  background: #e0ffe0;
}
.p-button{
  color:white !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  // padding: 16px 20px !important;
    font-size: 20px !important;
    font-weight: 600 !important;  
}


.back{
  background-image: url("../public/doc_back.jpeg");
  height:350px;   
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.design{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border-radius:10px;
  top:450px;
  left:35%;
  
}

.design1{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border-radius:10px;
  top:-15px;
  right:22%;
}

.header_text{
  font-size:4rem !important;
}

$orange: #FF893B;
$black: #465461;
$blue: #729CA2;
$light_blue: #C4DCDF;
$white: #ECF3F4;

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.mat-button-toggle-checked {
  background-color: $blue !important;
  color: white !important;
}

.mat-card-header-text {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
}

.mat-form-field-wrapper {
  width: 100% !important;
  padding: 0px !important;
}

.mat-form-field-flex {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
}

.mat-form-field-infix {
  padding: 0px !important;
  border: 0px !important;
  margin-left: 16px !important;
}

.mat-card {
  padding: 0px !important;
  
}

::-webkit-scrollbar {
  display: none;
}






















// @import '/src/colors';

.chat-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.fixed-chat {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 70%;
  position: fixed;
  border-radius: 8px;
  margin-top: 7vh;
}

.collapsible-chat {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 65%;
  position: fixed;
  top: 20%;
  right: 4%;
  border-radius: 8px;
}

.chat-header {
  align-items: center;
  // background-color: $black;
  // color: $white;
  border-radius: 8px;
  padding: 5%;

  .chat-icon {
      -webkit-filter: invert(100%);
      filter: invert(100%);
  }

  .chat-title {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0px !important;
  }
  
  .chat-subtitle {
      // color: $white;
      margin-bottom: 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;

      .status-icon {
          background-color: greenyellow;
          border-radius: 50%;
          width: 8px;
          height: 8px;
      }
  }
}
$orange: #FF893B;
$black: #465461;
$blue: #729CA2;
$light_blue: #C4DCDF;
$white: #ECF3F4;
.chat-content {
  flex-grow: 1;
  overflow: auto;
  margin: 5%; 

  .messages {
      display: flex;
      flex-direction: column;
      overflow: scroll;
      width: 100%;
  }
}

.message {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 10px;
  border-radius: 12px;
  min-height: 36px;
  min-width: 5%;
  max-width: 40%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  word-break: break-word;    
  word-wrap: break-word;
  hyphens: auto;

  &.bot {
      background-color: $blue;
      color: $white;
      border-top-left-radius: 0px;
      margin-right: auto;
      margin-left: 0;
  }

  &.user {
      background-color: $white;
      color: $blue;
      border-top-right-radius: 0px;
      margin-left: auto;
      margin-right: 0;
  }

  &.loading {
      background-color: $blue;
      color: $white;
      border-top-left-radius: 0px;
      margin-right: auto;
      margin-left: 0;
  }

  &.loading:after{
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: loading-message steps(4, end) 1500ms infinite;
      animation: loading-message steps(4, end) 1500ms infinite;
      content: "\2026";
      width: 0px;
      font-size: 20px;
      color: $white;

      @keyframes loading-message {
          to {
              width: 18px;
          }
      }
        
      @-webkit-keyframes loading-message {
          to {
              width: 18px;
          }
      }
  }
}

.chat-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // margin-bottom: 100px;

  .chat-form {
      width: 90%;
      height: 60%;
      background-color: $white;
      margin-bottom: 5%;
      border-radius: 20px;
  }

  .chat-input {
      resize: none;
      height: 18px;
      font-size: 14px;
      overflow: scroll;
      color: $black;
  }

  .send-button {
      color: $blue;
  
      .send-icon {
          font-size: 20px;
      }
  }
}

@media only screen and (max-width: 700px) {
  [class*="fixed-chat"] {
    width: 80%;
  }

  [class*="collapsible-chat"] {
      width: 80%;
    }
}

// app-chat{
//   display: flex;
//     align-items: center;
//     justify-content: center;
//     position: fixed !important;
//     bottom: 5%;
//     right: 3%;
//     background-color: $black;

//     .button-icon {
//         -webkit-filter: invert(100%);
//         filter: invert(100%);

//         &.chat {
//             width: 70%;
//         }

//         &.bot {
//             width: 75%;
//         }
//     }
// }


.mat-mdc-card{
  display: flex
  ;
      flex-direction: column;
      width: 20%;
      height: 65%;
      position: fixed !important;
      top: 20%;
      right: 4%;
      border-radius: 8px;
      background-color: white !important;
  
}

.mdc-line-ripple::before{
  border:none !important;
}

.p-accordioncontent-content{
  background: #e0ffe0 !important;
}