/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'MyFont';
    src: url('./assests/Lexend/Lexend-VariableFont_wght.ttf');
  }

  body{
    background: #D9EEEC;
}