/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'MyFont';
    src: url('./assests/Lexend/Lexend-VariableFont_wght.ttf');
  }

  body{
    background: #D9EEEC;
    position:relative;
}

.log{
  font-family: 'MyFont';
  font-size: 4.5rem;
  line-height: 74px;
  color:black;
  // font-weight: bold; 
  letter-spacing: -5px; 
}

.sec-title{
  font-family: 'MyFont';
  font-size: 2rem;
  line-height: 74px;
  color:black;
  // font-weight: bold; 
  letter-spacing: -1px; 
}