
<div class="top">
    <app-header></app-header>

</div>
<div class="bg-white">
    <div class="container">
        <div class="row p-8rem">
            <div class="col-6">
                @for (item of loopData(); track item.id) {
                    <h2 class="f-3rem">About {{item.title}}</h2>
                    <p>{{item.description[0]}}</p>
                    @if(item.description.length > 1){   
                        <p>{{item.description[1]}}</p>
                    }
                  }
            </div>
            <div class="col-6">
                @for (item of loopData(); track item.id) {
                    <p-image [src]="item.imgUrl" alt="Image" width="50%" height="auto" />
                  }
            </div>
        </div>
     
    </div>
</div>

