
<div class="top">
    <app-header></app-header>
    @for (item of loopData(); track item.id) {

        <h1 class="fw-bold text-center text-white pt-5">{{item.title}}</h1>
    }
    
</div>
<div class="bg-white position-relative">
    <img src="./clean-teeth.png" alt="" class="position-absolute top-0 start-0" width="100" height="100" />
    <div class="container">
        <div class="row p-8rem pb-0">
            <div class="col-6">
                @for (item of loopData(); track item.id) {
                    <h2 class="f-3rem">About <span class="text-success">{{item.title}}</span></h2>
                    <p class="lineHt-30 mt-3">{{item.description[0]}}</p>
                    @if(item.description.length > 1){   
                        <p class="lineHt-30">{{item.description[1]}}</p>
                    }
                  }
            </div>
            <div class="col-6 text-center">
                @for (item of loopData(); track item.id) {
                    <p-image [src]="item.imgUrl" alt="Image" width="70%" height="auto" class="borrad-50" />
                  }
            </div>
        </div>
        <div class="row p-8rem ">
            <div class="col-6 text-center">
                @for (item of loopData(); track item.id) {
                    <p-image [src]="item.imgUrl1" alt="Image" width="70%" height="auto" class="borrad-50" />
                  }
            </div>
            <div class="col-6">
                @for (item of loopData(); track item.id) {
                    <p class="lineHt-30">{{item.description1[0]}}</p>
                    @if(item.description1.length > 1){   
                        <p class="lineHt-30">{{item.description1[1]}}</p>
                        <p class="lineHt-30">{{item.description1[2]}}</p>
                        <p class="lineHt-30">{{item.description1[3]}}</p>
                        <p class="lineHt-30">{{item.description1[4]}}</p>
                        <p class="lineHt-30">{{item.description1[5]}}</p>
                    }
                  }
            </div>
        </div>
    </div>

    <app-faq [serviceId]="serviceID"></app-faq>
    <app-appointment></app-appointment>
    <app-footer></app-footer>
    
</div>

