.blur_bg{
    width:30%;
    filter: blur(110px);
}

// .back_img{
//     background-image: url("../../../../public/forest.jpg");
//     height:1200px;   
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
// }

.log{
    font-size:5rem !important;
}