<div class="d-flex p-5 bg-white">
    <div class="col-6">
        <h1>Schedule a Consultation with [Your Dental Clinic Name]</h1>
        <p>The trusted choice for comprehensive and patient-focused dental care.</p>
        <ul>
            <li> Achieve a brighter smile – expert teeth whitening and cosmetic treatments</li>
            <li> Improve oral health – advanced care for cavities, gum disease, and more</li>
            <li> Comfortable experience – stress-free treatments with modern technology</li>

        </ul>
    </div>
    <div class="col-6">
        <p-card header="Simple Card" class="w-75 d-block">
          <form action="" class="p-2 row">
            <div class="mb-3 col-6">
                <label for="username">Name</label>
                <input type="text" pInputText placeholder="Name" fluid/>
            </div>
            <div class="mb-3 col-6">
                <label for="username">Email</label>
                <input type="text" pInputText placeholder="Email" fluid/>
            </div>
            <div class="mb-3 col-6">
                <label for="Phone Number">Phone Number</label>
                <input type="text" pInputText placeholder="Phone Number" fluid/>
            </div>
            <div class="mb-3 col-6">
                <label for="Services">Services</label>
                <input type="text" pInputText placeholder="Services" fluid/>
            </div>
            <div class="mb-3 col-6">
                <label for="username">Locations</label>
                <input type="text" pInputText placeholder="Locations" fluid/>
            </div>
            <div class="col-6">
                <label for="username">Message</label>
                <input type="text" pInputText placeholder="Message" fluid/>
            </div>
<div class="text-end">
    <p-button label="Submit" />

</div>
          </form>
        </p-card>
    </div>
</div>
