
    <footer class="footer position-relative bg-success text-white mt-5 p-3 ">
<div class="container">
    <span class=" blur-bg blur_bg top-0 end-0">a</span>
    <div class="">
        <div class="row justify-content-between ">
            <div class="col-3">
                <p-image src="./logo.jpg" alt="Image" width="100" />
                <p>This is the Dental Website , this is the best clinical website</p>
            </div>
           
            <div class="col-3">
                <h4 class="fw-bold">Navigaiton</h4>
                <ul>
                    <li>About us</li>
                    <li>Contact us</li>
                    <li>Services</li>
                    <li>Testimonial</li>

                </ul>
            </div>
            <div class="col-3">
                <h4 class="fw-bold">Links</h4>
                <ul>
                    <li>FAQ</li>
                    <li>Appointment</li>
                    <li>Services</li>
                    <li>Testimonial</li>

                </ul>
            </div>
            <div class="col-3">
                <h4 class="fw-bold">Contact</h4>
                <ul>
                    <li>EMAIL ID : Gopishankar&#64;gmail.com</li>
                    <li>Location : Pondicherry</li>

                </ul>
            </div>
        </div>
    <div class="row mt-3">
        <div class="col-md-12">
        <p class="text-center">Dental Project All rights reserved &copy; 2021</p>
        </div>
    </div>
    </div>
</div>
      
    </footer>

