
    <footer class="footer position-relative  text-white bg-green-light wave bg-padd ">
<div class="container">
    <span class=" blur-bg blur_bg top-0 end-0">a</span>
    <div class="">
        <div class="row justify-content-between ">
            <div class="col-4">
                <p-image src="./logo.png" alt="Image" width="100" />
                <p class="fw-bold pt-2">Smiles That Last a Lifetime</p>
                <p>📍 Location: 123 Smile Street, Chennai, Tamil Nadu</p>
                <p>📞 Phone: +91 98765 43210</p>
                <p>📧 Email: karanhari564</p>
            </div>
            <div class="col-3">
                <h4 class="fw-bold">Links</h4>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                </ul>
                <h4 class="fw-bold">Services</h4>
                <ul>
                    <li>Braces</li>
                    <li>Dentures</li>
                </ul>
            </div>
            <div class="col-3">
                <h4 class="fw-bold">Contact</h4>
                <ul>
                    <li>EMAIL ID : Gopishankar&#64;gmail.com</li>
                    <li>Location : Pondicherry</li>

                    <div class="d-flex justify-content-start gap-3 mt-3">
                        <i class="fa-brands fa-instagram fs-1 text-danger"></i>
                        <i class="fa-brands fa-facebook fs-1 text-primary"></i>
                        <i class="fa-brands fa-x-twitter fs-1 text-dark"></i>
                    </div>

                </ul>
            </div>
        </div>
    <div class="row mt-3">
        <div class="col-md-12">
        <p class="text-center">Dental Project All rights reserved &copy; 2021</p>
        </div>
    </div>
    </div>
</div>
      
    </footer>

