.blur_bg{
    width:30%;
    filter: blur(110px);
}

footer{
    color: black !important;
    // background:url('../../../../public/wave.svg') no-repeat center center fixed;
    // background-size: cover;
    // background-repeat: no-repeat;
}

