<div class=" bg-padd">
    <div class=" text-center mt-5" #animateSection>
        <h2 class="sec-title log position-relative" >What Our Great Patients Say About Dr. Santhosh Kumar
            <span class="blur-bg in-img top-0 start-0 "> a</span>
        </h2>
        <div class="row">
            <div class="col-6 pad-t" #animateSection>
                <p-carousel [value]="products" [numVisible]="1" [numScroll]="1"  >
                    <ng-template let-product #item>
                        <div class="border border-surface rounded-border m-2 p-4 bg-white">
                            <img src="./comma.png" alt="" width="70" class="pb-4" />
                            <p class="description ">{{product.description}}</p>
                            <img [src]= "product.name" alt="" class="rounded-circle" width="70" height="80" />
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            <div class="col-6" #animateSection>
                <img src="./testi.png" alt="" width="700" />
            </div>
        </div>
        
    </div>
</div>


