// @import '/src/colors';

.chat-button {
    display: flex;
    align-items: center;
    bottom: 60px;
    justify-content: center;
    position: fixed !important;
    bottom: 12%;
    right: 15px;
    background: #000000;
    border-radius: 50%;

    // background-color: $black;

    .button-icon {
        -webkit-filter: invert(100%);
        filter: invert(100%);

        &.chat {
            width: 70%;
        }

        &.bot {
            width: 75%;
        }
    }
}