<div class="bg-green-light">
    <div class="wrapper ">
        <div class=" position-relative">
            <div class="lefttext d-flex flex-column justify-content-center" >
                <!-- <h5>WELCOME TO ZEN DENTAL CLINIC</h5> -->
                <h1 class="log">
                    <span class="blur-bg l-text "> a</span>
                    Best Dental Care in <span class="cl-green">Pondicherry</span></h1>
                <div class="py-4 info-w scroll_one">
                    <p class="mb-0">At Zen Dental we combite the resources of the greatest dentists in town with the most cutting-edge technology to provide you with the highest-qualist results</p>
                    <p class="mb-0">We seek to instill confidence,happiness, and optimism in our patients. Better teeth,better health</p>
                </div>
              
          <p-button label="Book Appointment"  />
            </div>
            <div class="imgs">
                <p-image src="./smiles.png" alt="Image" width="800" height="800" class="" />
                 <div class="background_img " #scroll_one>
                    <span class="blur-bg in-img tOp">a</span>
                    <span class="blur-bg in-img bOt">a</span>
                 </div> 
            </div>
        </div>
    </div>
</div>


