<div class="row">
    <div class="col-6 pt-5 ps-4 ">
        <h5>WELCOME TO ZEN DENTAL CLINIC</h5>
        <h1 class="log">BEST DENTAL CARE IN PONICHERRY</h1>
        <div class="py-3">
            <p class="mb-0">At Zen Dental we combite the resources of the greatest dentists in town with the most cutting-edge technology to provide you with the highest-qualist results</p>
            <p class="mb-0">We seek to instill confidence,happiness, and optimism in our patients. Better teeth,better health</p>
        </div>
      
  <p-button label="Book Appointment" />
    </div>
    <div class="col-6">
        <!-- <p-image src="./girl.png" alt="Image" width="500" /> -->
         <div class="background_img"></div>
    </div>
</div>
