p-image img{
    width:60% !important;
}

.wrapper{
    max-width: 1380px;
    width: 90%;
    margin: 0 auto;
    padding-top:10rem;
    padding-bottom:10rem;

}
.background_img{
    // background-image: url('../../../../../public/smiles.png');
    // background-size:contain;
    // background-repeat: no-repeat;
    // background-position: top;
    // height: 80vh;
    // position:relative;
    // filter: drop-shadow(0 0 1.25rem rgb(188, 255, 188));
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // color: white;
    // font-family: 'MyFont';
    // font-size: 5.5rem;
    // text-align: center;
    // text-shadow: 2px 2px 4px #000000;
}

.imgs{
    position: absolute;
    left: calc(50% - 10px);
    top: -197px;
    bottom: -10px;
    width: 794px;
    
    max-width: calc(57% - 26px);
    outline: 0;
    outline-width: 0;
}



.l-text{

   width:5%;
   height:100px;
   filter: blur(125px);
   top:400px;
 
}

.lefttext{
    max-width: 709px;
}
.in-img{

    width:40%;
    filter: blur(90px);
  
 }

 .tOp{
    top:10px;
 }
 .bOt{
    bottom:10px;
    right:0px;
 }

